body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    justify-content: center;
}

body, div, form, input, select{
  margin: 0;
  outline: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #3a3a3a;
  line-height: 22px
}

h1.zero::before{
  opacity: 1;
}

input {
  width : 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;

}

input, select {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:focus{
  outline: focus;
}

.btn {
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.cart{
  width: 250px;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid black;
  overflow-y: scroll;
  height: 100%;
}

#successProductAlert {
    display: none;
}
